# Dataset folder too large, so we won't upload it
dataset/*
!dataset/.gitkeep 

# Results folder too large, so we won't upload it
statistics/results/

# Python Virtual Enviorment
venv/

# PyCharm files
.idea/
__pycache__/