# Dataset folder too large, so we won't upload it
dataset/*
!dataset/.gitkeep 

# Results folder too large, so we won't upload it
statistics/results/baseline/*
!statistics/results/baseline/hyperparameters_acc.png
!statistics/results/baseline/hyperparameters_loss.png

statistics/results/optimization/*
!statistics/results/optimization/acc.png
!statistics/results/optimization/loss.png

statistics/results/initialization/*
!statistics/results/initialization/acc.png
!statistics/results/initialization/loss.png

statistics/results/regularization/*
!statistics/results/regularization/acc.png
!statistics/results/regularization/loss.png

# Python Virtual Enviorment
venv/

# PyCharm files
.idea/
__pycache__/